
<div class="container justify-content-center" *ngFor="let item of lista">
    <div class="row animated fadeIn fast">
        <div class="col-md-4">      
          <img src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" class="img-fluid">
          <br><br>
          <a href="/" class="btn btn-outline-secondary botones">Volver</a>
        </div>
        <div class="col-md-8">
          <h3>{{item.title}}</h3>
          <h5><small>Titulo Original: {{item.original_title}}</small></h5>
          <hr>
          <p>{{item.overview}}</p>
          <p>Fecha de Lanzamiento: {{item.release_date}}</p>
          <p>Popularidad: {{item.popularity}}</p>
          <p>N° Votos: {{item.vote_count}}</p>
          <p>Promedio Votos: {{item.vote_average}}</p>
        </div>
    </div>
</div>